.widget-recent_posts_home:after {
    content: "";
    clear: both;
    display:block;
}

.widget-recent_posts_home .container{
    margin: 0 -2px;
    padding: 0;
    width:100%;
}

.widget-recent_posts_home .container:after {
    content: "";
    clear: both;
    display:block;
}

.widget-recent_posts_home .item{
    display: block;
    margin:0;
    width: 25%;
    height: 200px;
    max-height:200px;
    max-width: 200px;
    position:relative;
    float:left;
}

.widget-recent_posts_home .item h4{
    font-size:0.9em;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom:0px; 
    margin:0 5px;
    padding:2px;
    max-height:63px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.home img.profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-right:50px;
}

body.home section.summary{
    float:left;
}

body.home #header,
body.home .header-widgets{
    display:none;
}

br.clear{
    clear:both;
}

@media screen and (max-width: 600px) {
    .widget-recent_posts_home .item {
      width: 100%;
    }

    body.home .profile{
        display:none;
    }
  }


